<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
<!--     <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file> -->
  </welcome-file-list>

	<security-role>
		<role-name>manager</role-name>
	</security-role>
	<security-constraint>
		<!-- 웹 자원에 대한 설정 -->
		<web-resource-collection>
			<!-- 자원 이름 -->
			<web-resource-name>BookStore2</web-resource-name>
			<!-- 접근 제한 url -->
			<url-pattern>/cart/security01.jsp</url-pattern>
			<url-pattern>/cart/security02.jsp</url-pattern>
            <!-- 2-1. security02-->
			<url-pattern>/shoppingmall/addProduct.jsp</url-pattern>
			<!-- 전송 방식 -->
			<http-method>GET</http-method> 
		</web-resource-collection>
		<!-- 인증된 사용자 -->
		<auth-constraint>
			<description>관리자</description>
			<role-name>manager</role-name>
		</auth-constraint>
		
<!--   		데이터 보호
		<user-data-constraint>
			NONE/INTEGRAL/CONFIDENTIAL: 기본값(데이처보호x) / 무결성(전송 중에 변경되지 않도록) / 기밀성
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>  -->
		
	</security-constraint>
	<login-config>
		<!-- <auth-method>BASIC</auth-method> -->
		<auth-method>FORM</auth-method>
		<form-login-config>
        	<!-- 4. shoppingmall/ login.jsp, loginfailed.jsp -->
			<form-login-page>/shoppingmall/login.jsp</form-login-page>
			<form-error-page>/shoppingmall/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
 	
 	<!-- 예외처리 페이지 -->
 	<!-- 우선순위 1)jsp 페이지에 설정한 애 > 2)exception-type > 3)error-code -->
 	<!-- 최우선순위: 코드 내의 것 -->
 	
 	<!-- 3순위. 코드에 의해 발생하는 애 error-code -->
 	<error-page>
	 	<error-code>404</error-code>
	 	<location>/shoppingmall/error_404.jsp</location>
 	</error-page>
 	 <error-page>
	 	<error-code>500</error-code>
	 	<location>/shoppingmall/error_500.jsp</location>
 	</error-page>
 		
 	<!-- 2순위. (유형별) 타입에 의해 발생하는 애 exception-type -->
 	<error-page>
 		<exception-type>java.lang.Exception</exception-type>
 		<location>/shoppingmall/exception_error.jsp</location>
 	</error-page>
 	
<!-- <context-param>
	<param-name>log4jConfigLocation</param-name>
	<param-value>/WEB-INF/log4j.properties</param-value>
</context-param>
<listener>
	<listener-class></listener-class>
</listener> -->

<!-- 필터적용 시작 -->
 	<!-- <filter>
		<filter-name>filter01</filter-name>
		<filter-class>filter.AuthenFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>filter01</filter-name>
		<url-pattern>/filter01_process.jsp</url-pattern>
	</filter-mapping>
	 -->
	<filter>
		<filter-name>filter02</filter-name>
		<filter-class>filter.InitParamFilter</filter-class>
		
		<init-param>
			<param-name>param1</param-name>
			<param-value>admin</param-value>
		</init-param>
		
		<init-param>
			<param-name>param2</param-name>
			<param-value>1234</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>filter02</filter-name>
		<url-pattern>/filter02_process.jsp</url-pattern>
	</filter-mapping>
	
	
 	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
<!-- 필터적용 끝 -->
 	
</web-app>